.banner {
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
background-color: aqua;
}

h1{
    font-size: xx-large;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    .sottotitoli{
        font-size: small;
    
    }